@import "compass_twitter_bootstrap";

.title {
    float: left;
    font-size: large;
    color: rgb(130, 151, 162);
    margin-top: 10px;
}
    
.app-container {
    margin-top: 100px;
}
    
.default-margin {
    margin-left: 5px !important;
}

i{
    background-image: url('../images/glyphicons-halflings-white.png')!important;
}

.filter {
	margin-bottom: 5px;
}