<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="seven times X is...">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
      
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      
     
        
        <div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
						<ul class="nav" style="float:right;">
							<li><a href="#myModal" data-toggle="modal">About</a></li>
						</ul>
					
				</div>
			</div>
		</div>
        
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">About</h3>
				</div>
				<div class="modal-body">
					<p>This is the frontend for a small demo of using a Node.js RESTfull server  for a CRUD-application</p>
                    <p>
                        <a href="http://www.linkedin.com/profile/view?id=12116865&amp;trk" target="top"><img src="img/LinkedInButton.JPG" width="55"></a> &nbsp; 
                        <a href="https://twitter.com/FilipStenbeck" target="top"><img src="img/twitter-bird-light-bgs.png" width="65"></a>
                        <a href="https://github.com/FilipStenbeck/node-demo" target="top"><img src="img/github-logo-transparent.png" width="65"></a>
                    </p>
                </div>
				<div class="modal-footer">
                </div>
			</div>
			
			<!-- Edit Modal -->
			<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Edit user</h3>
			  </div>
			  <div class="modal-body">
				
				 <form id="edit-user-form">
                     
                        <div class="controls controls-row">  
                            <label>Id</label>
                            <span class="input-small uneditable-input" id="editIdField" type="text"/>
                        </div>
                        <div class="controls controls-row">  
                            <label >Name</label>
                            <input  id="editNameField" type="text">
                            <label class="checkbox">
                                <input id="editIsActive" type="checkbox"> Active
                            </label>
                         </div>
                        <button id="editUserBtn" class="btn-primary btn" onclick="app.userView.saveUser();" data-dismiss="modal">Save</button>
                     
                    </form>       
				
			  </div>
			  <div class="modal-footer">
				
			  </div>
			</div>
        
        <div id="app_container">
      
            <div class="row default-margin">
				
				<!-- Table listing users-->
                <div class="span4 offset1">
					  <legend>All users</legend>
                    <table  id="user-table" class="table table-bordered table-striped ">        
                        <thead> 
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody> 
                          <!-- Dynamic user data will be inserted here-->
                        </tbody> 
                    </table>
                    <div class="span2">
                    <label class="checkbox">
                        <input class="form-fields" id="showActive" type="checkbox">Active users only
                        </label>
                    </div>
                    <button id="reloadBtn" class="btn btn-primary">Reload</button>
                </div>
                
                <!-- Form Creating new user-->
                <div class="span6">
                    <form id="new-user-form" class="form-inline">
                      <fieldset>
                        <legend>Create new user</legend>  
                        <label class="form-fields">Name</label>
                        <input class="form-fields" id="nameField" type="text">
                        <label class="checkbox">
                        <input class="form-fields" id="isActive" type="checkbox"> Active
                        </label>
                        <button id="newUserBtn" class="btn primary">Save</button>
                      </fieldset>
                    </form>       
                </div>
            </div>
         </div>
        
          <!-- Templates for dynamic data-->
        <script type="text/template" id="all_user_template">
             <tr>
                <td><%= id %> </td>
                <td><%= name %> </td>
                <td class="status-td"><% if (isActive ) {%>
                    <span class="label label-success"><i class="icon-thumbs-up icon-white status-icon" title="Active" ></i></span>
                <% } else {%>
                    <span class="label label-important"><i class="icon-thumbs-down icon-white status-icon" title="Inactive" ></i></span>
                <% }%>
                </td>
                <td class="status-td">
					<a id="delete-<%= id %>" href="#" class="delete-link action-link" title="Delete">Delete</a>
					<a id="edit-<%= id %>" href="#" class="edit-link action-link" title="Edit" data-toggle="modal" data-target="#editModal">Edit</a>
                </td>
            </tr>
        </script>
        
         <!-- build:js scripts/scripts.js -->
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-1.0-min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        
    
        <script src="js/models.js"></script>
        <script src="js/collections.js"></script>
        <script src="js/views.js"></script>
        <script src="js/router.js"></script>
        <script src="js/main.js"></script>
              <!-- endbuild -->
    </body>
</html>
