<div class="row default-margin">

    <!-- Table listing users-->
    <div class="span4">
          <legend>All users</legend>
        <user-list></user-list>
    </div>
</div>
<div class="row default-margin">
    <div class="span2">
        <label class="checkbox">
            <input class="form-fields" id="showActive" ng-click="onReload()" ng-model="activeOnly" type="checkbox">Active users only
        </label>
    </div>
    <button id="reloadBtn" ng-click="onReload()" class="btn btn-primary">Reload</button>
</div>

