<div class="row default-margin app-container">

    <div class="span4">
          <legend>All users</legend>
        <user-list/>
    </div>

    <div class="span6 offset1">
        <form  class="form-inline" ng:submit='newUser()'>
          <fieldset>
            <legend>Create new user</legend>
            <label class="form-fields">Name</label>
            <input class="form-fields" type="text" ng-model="username" required >
            <label class="checkbox">
            <input class="form-fields"  ng-model="isActive" type="checkbox"> Active
            </label>
            <button class="btn btn-primary">Create</button>
          </fieldset>
        </form>
    </div>
</div>
